<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* linkkien muokkaus */
        p a {
            color: #6495ED; /* linkin väri */
            text-decoration: none; /* poistetaan alaviiva */
            transition: color 0.3s; /* vaihtoaika */
        }

        /* linkin vaihtoväri */
        p a:hover {
            color: #ff1493; /* väri hiiren ollessa päällä */
        }
        p.message {
            color: black;
            font-weight: bold;
        }
    </style>
</head>
<body>
<p>
    <a href="{% url 'TimeManagementToolApp:index' %}">Ajanhallinta</a> -
    <a href="{% url 'TimeManagementToolApp:kurssit' %}">Kurssit</a> -
    {% if user.is_authenticated %}
        Hei, {{ user.username }}.
    {% else %}
        <a href="{% url 'accounts:rekist' %}">Rekisteröidy</a> -
        <a href="{% url 'accounts:login' %}">Kirjaudu</a>
    {% endif %}
</p>

{% if not user.is_authenticated %}
    <p class="message">Teidän täytyy rekisteröityä/kirjautua käyttääksenne sivustoa</p>
{% endif %}

{% block content %}{% endblock content %}

{% if user.is_authenticated %}
    <hr />
    <form action="{% url 'accounts:logout' %}" method='post'>
        {% csrf_token %}
        <button name='submit'>Kirjaudu ulos</button>
    </form>
{% endif %}

</body>
</html>
