{% extends 'TimeManagementToolApp/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Kurssit</title>
    <style>
        .kurssi-header {
            background-color:#FFF8DC;
            padding: 10px;
            display: inline;
        }

    </style>
</head>
<body>
    <h1>Kurssit</h1>
    {% for kurssi in kurssit %}
        <h2 class="kurssi-header">{{ kurssi.kurssi }}</h2>
        <ul>
            {% for teht in kurssi.teht_set.all|dictsort:"dedis" %}
                <li>
                    <p>{{ teht.teht }}</p>
                    {% if teht.dedis %}
                        <p>Deadline: <span style="color: red;">{{ teht.dedis|date:"F j, Y" }}</span></p>
                    {% endif %}
                </li>
            {% empty %}
                <li>Ei lisättyjä tehtäviä tälle kurssille</li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>

{% endblock content %}
