{% extends 'TimeManagementToolApp/base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Kurssit</title>
    <style>
        /* linkkien muokkaus */
        ul a {
            color: #d2691e; 
            text-decoration: none; 
            transition: color 0.3s; 
        }

        ul a:hover {
            color: #ff1493; 
        }
    </style>
</head>
<body>
    <p>Kurssit</p>

    <ul>
        {% for kurssi in kurssit %}
            <li>
                <a href="{% url 'TimeManagementToolApp:kurssi' kurssi.id %}">
                    {{ kurssi.kurssi }}</a></li>
            
        {% empty %}
            <li>Kursseja ei ole vielä lisätty</li>
        {% endfor %}
    </ul>
</body>
</html>

{% endblock content %}
