{% extends 'TimeManagementToolApp/base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Kurssit</title>
    <style>
        /* linkkien muokkaus */
        ul a {
            color: #d2691e; 
            text-decoration: none; 
            transition: color 0.3s; 
        }

        ul a:hover {
            color: #ff1493; 
        }

        /* otsikon fonttikoko */
        h1 {
            font-size: 32px;
        }
        /* kurssin fonttikoko */
        ul li {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Kurssit</h1> 

    <ul>
        {% for kurssi in kurssit %}
            <li>
                <a href="{% url 'TimeManagementToolApp:kurssi' kurssi.id %}">
                    {{ kurssi.kurssi }}</a>
            </li>
        {% empty %}
            <li>Kursseja ei ole vielä lisätty</li>
        {% endfor %}
    </ul>
</body>
</html>

{% endblock content %}

