{% extends 'TimeManagementToolApp/base.html' %}

{% block content %}

<p><a href="{% url 'TimeManagementToolApp:kurssi' kurssi.id %}">{{ kurssi }}</a></p>

<!-- Tehtävän muokkaus -->
<form method='post'>
    {% csrf_token %}
    <div>
        <p>Muokkaa tehtävää:</p>
        {{ form.teht }}
    </div>
    <div>
        <p>Vaihda deadline:</p>
        {{ form.dedis }}
    </div>
    <div>
        <p>Merkikse tehdyksi:</p>
        {{ form.valmis }}
    </div>      
    <button name="submit">Tallenna</button>
</form>

<!-- Tehtävän poisto -->
<form action="{% url 'TimeManagementToolApp:poista_tehtava' teht.id %}" method="post">
    {% csrf_token %}
    <button type="submit" onclick="return confirm('Haluatko varmasti poistaa tämän tehtävän?');" style="color: red;">Poista Tehtävä</button>
</form>

{% endblock content %}
